@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: transparent;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  margin: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .75em;
}

h6 {
  font-size: .5em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  border: solid #FFFFFF;
  border-width: 3px 0 0;
  margin: -5px 80% 0 0;
  height: 0;
}

.btn-primary {
  background: transparent;
  padding: 7px 22px 7px 22px;
  color: #FFFFFF;
  font-size: .8em;
  font-weight: bold;
  display: inline-block;
  border: 3px solid #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.btn-primary:hover {
  color: #cccccc;
  border: 3px solid #cccccc;
}

.hidden {
  display: none;
}

.wrapper {
  padding: 1em 1.5em;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .wrapper {
    padding: 1em 3em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: .75em;
  }
  h6 {
    font-size: .5em;
  }
  .wrapper {
    padding: 1em 4em;
  }
}