// about section

.about-wrapper {
    background: url("../images/about-mobile.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 750px;
    margin-top: 75px;
}

#about {
    p {
        font-size: 0.9em;
        line-height: 1.5;
        width: 75%;
    }
}

@media (min-width: 768px) {
    .about-wrapper {
        background: url("../images/about.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 600px;
        margin-top: 75px;
    }
    
    #about {
        p {
            font-size: 1em;
            line-height: 1.6;
            width: 70%;
        }
    }
}