// contact section

.contact-wrapper {
    background: $background2;
    padding: 5em 0 2em 0;
}

.contact {
    max-width: 800px;
    margin: 5em auto;

    .form-group {
        margin: 10px 0;
    }

    input, textarea {
        background: $primary;
        width: 100%;
        color: $background2;
        border: 3px solid $background2;
        border-radius: 5px;
    }

    textarea {
        height: 150px;
    }

    input {
        height: 35px;
    }

    label {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 700;
        margin-left: 2px;
    }
}

.contact-content {
    p {
        line-height: 1.5;
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .contact {
        .btn-primary {
            padding: 14px 30px 14px 30px;
            font-size: 1em;
            margin-left: 2px;
        }
    }

    .contact-content {
        p {
            font-size: 1.1em;
        }
    }
}

@media (min-width: 1200px) {
    .contact {
        margin: 0 0 150px 0;
    }

    #contact {
        .contact-content {
            display: grid;
            grid-template-columns: 50% 40%;
            grid-column-gap: 75px;
        }
    }
}