// global style

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: $background1;
    color: $text-light;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-light;
    margin: 0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em
}

h5 {
    font-size: .7em
}

h6 {
    font-size: .5em
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    border: solid $primary;
    border-width: 3px 0 0;
    margin: -5px 80% 0 0;
    height: 0;
}

.btn-primary {
    background: transparent;
    padding: 7px 22px 7px 22px;
    color: $text-light;
    font-size: .8em;
    font-weight: bold;
    display: inline-block;
    border: 3px solid #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.btn-primary:hover {
    color: $primary-hover;
    border: 3px solid $primary-hover;
}

.hidden {
    display: none;
}

.loading {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    img {
        margin: auto;
        display: block;
        width: 100px;
    }
}

.wrapper {
    padding: 1em 1.5em;
    max-width: 1400px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    .wrapper {
        padding: 1em 3em;
    }
}

@media (min-width: 768px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 2em;
    }
    
    h4 {
        font-size: 1em
    }
    
    h5 {
        font-size: .75em
    }
    
    h6 {
        font-size: .5em
    }

    .wrapper {
        padding: 1em 4em;
    }
}

@media (min-width: 1600px) {
    .wrapper {
        padding: 1em 0;
    }
}