// hero section

.hero-wrapper {
    position: relative;
    background: url("../images/hero-mobile.jpg");
    background-size: cover;
    background-position: center right;
    width: 100%;
    height: 100vh;
}

.hero-content {
    margin-top: 17em;
    opacity: 0;
    animation-name: headline;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    h1, p {
        line-height: 1.0;
        width: 60%;
    }

    h1 {
        font-weight: 800;
        margin: 0;
    }

    p {
        font-weight: 400;
        margin-top: 5px;
    }

    button {
        margin-top: 4px;
    }

    span {
        display: block;
    }
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    bottom: 18%;
    left: 50%;
    opacity: 0;
    animation-name: arrow;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes headline {
    from {
        opacity: 0;
        margin-top: 16em;
    }
    to {
        opacity: 1;
        margin-top: 17em;
    }
}

@keyframes arrow {
    from {
        opacity: 0;
        bottom: 0;
    }
    to {
        opacity: 1;
        bottom: 18%;
    }
}

@media (min-width: 600px) {
    .hero-wrapper {
        background: url("../images/hero.jpg");
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 768px) {
    .hero-content {
        .btn-primary {
            padding: 14px 30px 14px 30px;
            font-size: 1em;
        }
    }
}

@media (orientation: landscape) and (max-height: 415px) {
    .hero-content {
        margin-top: 6em;
    }

    @keyframes headline {
        from {
            opacity: 0;
            margin-top: 5em;
        }
        to {
            opacity: 1;
            margin-top: 6em;
        }
    }
}

@media (min-height: 1366px) {
    .hero-wrapper {
        background: url("../images/hero-mobile.jpg");
        background-size: cover;
        background-position: center right;
    }

    .hero-content {
        margin-top: 39em;
    }

    @keyframes headline {
        from {
            opacity: 0;
            margin-top: 39em;
        }
        to {
            opacity: 1;
            margin-top: 40em;
        }
    }
}