// work section

#work {
    margin-bottom: 6em;

    h3 {
        text-align: center;
        margin-bottom: 50px;
    }

    .featured-container, .work-container {

        .item {
            .card {
                max-width: 500px;
                margin: 1em auto 8em auto;
    
                h3, h4, h5, p, .button-container {
                    text-align: center;
                }
    
                h3 {
                    margin-bottom: 10px;
                }
    
                h4 {
                    text-transform: uppercase;
                    margin-bottom: -5px;
                    font-size: 0.7em;
                }
    
                p {
                    font-size: 0.9em;
                }
    
                span {
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .btn-primary {
                    margin: 0 2px;
                }
            }

            img {
                width: 100%;
            }
        }
    }

    .featured-container {
        .item {
            display: grid;
            grid-template-areas: 'image''card';

            .card {
                grid-area: card;
            }

            img {
                grid-area: image;
            }
        }
    }
}

@media (min-width: 768px) {
    #work {
        .featured-container, .work-container {
            margin-bottom: 5em;
            
            .item {
                .card {
                    display: grid;
                    place-content: center;
                    margin: 0;

                    h3 {
                        font-size: 1.2em;
                        margin: 0;
                    }

                    p {
                        font-size: .9em;
                        margin: 8px 0;
                    }
                }
            }

            img {
                margin: auto;
            }
        }

        .featured-container {
            .item {
                display: grid;
                grid-template-columns: 45% 50%;
                grid-template-areas: 'card image';
                grid-column-gap: 40px;
            }
        }

        .featured-container.reverse {
            .item {
                display: grid;
                grid-template-columns: 50% 45%;
                grid-template-areas: 'image card';
                grid-column-gap: 40px;
            }
        }

        .work-container {
            .item {
                display: grid;
                grid-template-columns: 50% 45%;
                grid-column-gap: 40px;
                margin-bottom: 5em;
            }
        }
    }
}

@media (min-width: 992px) {
    #work {
        .work-container {
            display: grid;
            grid-template-columns: 48% 48%;
            grid-column-gap: 75px;
            margin-bottom: 2em;

            .item {
                display: grid;
                grid-template-columns: 48% 48%;
                grid-column-gap: 20px;

                .card {
                    h3, h4, h5, p, .button-container {
                        text-align: left;
                    }

                    h3 {
                        font-size: 1.1em;
                        margin: 0;
                    }

                    p {
                        font-size: 0.8em;
                        margin: 10px 0;
                    }

                    .btn-primary {
                        padding: 6px 15px 6px 15px;
                        font-size: .6em
                    }
                }
            }
        }

        .featured-container {
            margin-bottom: 7em;

            .item {
                .card {
                    h3 {
                        font-size: 1.7em;
                    }
    
                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}